.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    margin-top: 200px;
    width: auto;
}
.flex-item {
    padding: 5px;
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;     /* center items vertically, in this case */
}

.box {
    width: 200px;
    margin: 5px;
    text-align: center;
    height: 100px
}

.svgIcon{
    width: 24px;
    height: 24px;
    transform: scale(2);
}
