<div class="flex-container">
    <div class="row" *ngIf="!isInfluencer">
        <div class="flex-item">Who are you ?</div>
        <div class="flex-item">
            <div class="flex-row">
                <button class="box" (click)="brandRegister()" color="primary" mat-raised-button>
                    Brand
                </button>
                <button class="box" color="accent" (click)="influencerRegister()" mat-raised-button>
                    Influencer
                </button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isInfluencer">
        <div class="flex-item">Social register</div>
        <div class="flex-item">
            <div class="flex-row">
                <button class="box" mat-raised-button>
                    <mat-icon class="svgIcon" (click)="loginWithFacebook()" svgIcon="facebook" ></mat-icon>
                </button>
                <button class="box" mat-raised-button>
                    <mat-icon class="svgIcon" svgIcon="instagram" ></mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>