<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img (click)="logoClick()" class="logo" src="https://cdn.itviec.com/employers/hiip-asia/logo/w170/poMsS4JBbyoe2U3dM2iCLBH6/Logo%20Hiip%20biru%20(2).png">
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="profileMenu" class="example-icon">
      <span class="name" *ngIf="name">{{ name }}</span>
      <span class="name" *ngIf="!name">Welcome</span>
      <img *ngIf="!avatarLink" class="avatar" src="/assets/img/1.png">
      <img *ngIf="avatarLink" class="avatar" [src]="avatarLink">
    </button>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/profile"> <i class="fa fa-user" aria-hidden="true"></i> Profile </button>
      <button mat-menu-item > <i class="fa fa-sign-out" aria-hidden="true"></i> Logout </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>