.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
.name {
  margin-right: 20px;
}

.logo {
  width: 119px;
  height: 64px;
  cursor: pointer;
}