
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 150px;
}
.demo-full-width {
  width: 100%;
}
.example-container > * {
  width: 100%;
}
.flex-item {
    padding: 5px;
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}