<div class="flex-container">
    <div class="example-container">
        <div class="flex-item">Register Information</div>
        <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
        <form [formGroup]="form">
            <mat-form-field class="demo-full-width">
                <input formControlName='name' matInput placeholder="Name">
            </mat-form-field>

            <mat-form-field class="demo-full-width">
                <input formControlName='bankNo' matInput placeholder="Bank No.">
            </mat-form-field>

            <mat-form-field class="demo-full-width">
                <input formControlName='idNo' matInput placeholder="ID No.">
            </mat-form-field>
        </form>
        
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
</div>